.nav {
    position: sticky;
    top: 0;
    max-height: 90px;
    z-index: 2;
}

.nav-list-container {
    background-color: var(--white);
    position: relative;
    padding: 20px;
    transition: 0.5s;
    transform: translateY(calc(-100% + 90px));
    box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.2);
}

.nav-list {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.pokedex-logo {
    height:50px;
    width: 50px;
    margin: 20px 0 20px 20px;
    transform: rotate(-25deg);
    user-select: none;
    background-color: #fff;
    border-radius: 50px;
}

.pokedex-title {
    display: inline-block;
    font-family: 'Kanit', sans-serif;
    color: #1e1e1e;
    font-size: 2rem;
    margin: 20px 0 0 10px;
    user-select: none;
}

.logo-container {
    display: flex;
    background-color: var(--white);
    box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}

.btn-arrow {
    box-shadow: 0 2px 1px 1px #0001,
                -2px 1px 1px #0001,
                2px 2px 1px #0001;
    position: absolute;
    bottom: -39px;
    height: 40px;
    width: 50px;
    background-color: var(--white);
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    z-index: 5;
}
.btn-arrow img {
    height: 20px;
    transform: rotate(90deg);
    transition: 0.5s;
    pointer-events: none;
}

.open {
    transform: translateY(90px);
}

.rotate img {
    transform: rotate(-90deg);
}